/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 30px;
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	line-height: 1;
	color: #000;
	text-align: center;
	background-color: #FD0;
	border-radius: 18px;
}

@media (width <= 650px) {
	.container {
		border-radius: 0;
	}
}