.container {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container a {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.container a img {
  width: 100%;
  aspect-ratio: 900/670;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
