/* CARD SECTION */
.cardWrapper{
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	margin-top: 40px;
}
/* * */


@media (width <= 650px) {
	.cardWrapper{
		margin: 0 auto;
		grid-template-columns:  1fr;
	}
}