/* * */
/* GRID NAV OVERRIDE */

.gridNavOverride {
  grid-template-columns: 1fr;
}

.gridNavOverrideThreeCols {
  grid-template-columns: 1fr 1fr 1fr;
}

/* * */
/* TEXT */

.text {
	padding-left: 5px;
	font-size: 16px;
	font-weight: var(--font-weight-medium);
	line-height: 1.6;
	color: var(--color-system-text-100);
}