/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	border-radius: 18px;
	border: 1px solid #BEBEC8;
	padding: 20px;
}

.container:nth-child(1){
	background: #ffdd00;
	border: 1px solid #ffdd00;
}


/* * */
/* HEADER */

.header {
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	width: 100%;
	padding: 10px;
	min-height: 140px;
	justify-content: center;
}

.headerTitle {
	font-size: 16px;
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
	margin-left: 20px;
}

.headerNumber {
	font-size: 28px;
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
}


/* * */
/* CONTENT */

.content {
	width: 100%;
	border-right: 2px solid var(--color-border);
	border-left: 2px solid var(--color-border);
	transition: all 500ms ease-out;
}

/* * */
/* CONTENT NUMBER */

.contentNumber {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 15px 20px;
	background-color: var(--color-primary);
	border-radius: 18px;
}

.contentNumberValue {
	font-size: 26px;
	font-weight: var(--font-weight-bold);
	line-height: 1;
	color: var(--color-text);
}

.contentNumberLegend {
	font-size: 12px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-text);
	opacity: 0.8;
}

/* * */
/* CONTENT LOTTIE */

.contentLottie {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	background: #fff;
	border: 1px solid var(--color-system-border-100);
	border-radius: 18px;
}

/* * */
/* CONTENT TITLE */

.contentTitle {
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-200);
}

.contentDescription {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-200);
}

/* * */
