/* ICON LIST */
.iconList {
  flex-direction: row !important;
  justify-content: center;
  padding: 10px;
}

/* LICENSE PLATE */
.license_plate {
  border: 2px solid var(--color-system-text-200);
  font-size: var(--font-size-text);
  padding: 2px;
  border-radius: 10px;
}

/* DATA WRAPPER */
.dataWrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TABLE WRAPPER  */
.tableWrapper{
  padding: 10px;
  width: 100%;
}