/* * */
/* HEADINGS */

.sectionTitle{
	font-weight: var(--font-weight-title);
    font-size:var(--font-size-title) ;
    color: var(--color-system-text-100);
}

/* * */
/* SECTION CARDS */

.cardSection {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1200px; /* adjust as needed */
	margin: 0 auto; 
}


@media(width <= 700px) {
	.cardSection {
	grid-template-columns: repeat(1, 1fr);
	}

}