/* * */
/* CONTENT */

.nav {
	position: sticky;
	top: 70px;
	height: fit-content;
	color: var(--color-system-text-300);

	& ul {
		padding-inline-start: 20px;
		list-style: none;
	}

	& li {
		margin-left: 0;
	}

	/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
	& :global(ul) {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 5px 0;
	}
}

.active {
	color: var(--color-system-text-100);
}


@media (width <= 900px) {
	.nav {
		display: none;
	}
}