/* * */
/* CARD */

.cardWrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--size-spacing-20);
	align-items: center;
	justify-content: flex-start;
	padding: var(--size-spacing-20);
	background-color: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-lg);
}

@media screen and (width <= 500px) {
	.cardWrapper {
		grid-template-columns: 1fr;
	}
}

.cardImage {
	width: auto;
	height: 200px;
	padding: var(--size-spacing-15);
}

.cardContents {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
	align-items: flex-start;
	justify-content: flex-start;
}

.cardTitle {
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
}

.cardDescription {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-200);
}