.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--size-spacing-5);
}

.validity{
    font-size: 10px;
    font-style: semibold;
    font-weight: 600;
    color: var(--color-system-text-300);
    text-align: left;
}

.images {
    display: flex;
    gap: var(--size-spacing-5);
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    & img {
        height: 100%;
    }
}

.cardAlt {
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-5);
    align-items: center;

    & img {
        height: 80px;
    }
}

@media (width <= 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    .card {
        display: flex;
        flex-direction: row;
        gap: var(--size-spacing-5);)
        align-items: center;

        & img {
            height: 80px;
        }
    }
}