/* CONTAINER */
.container{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--color-system-background-100);
    border: 1px solid 	var(--color-system-border-200);
    border-radius: 20px;
}

/* *  */
/* GLOBAL CARD FIRST ROW */
.globalCardFirstRow {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 20px;
}

@media(width <= 650px) {
	.globalCardFirstRow {
        flex-direction: column;
        gap: 0;
	}
}

/* * */
/* GLOBAL CARD FIRST ROW */
.globalCardSecondRow {
    display: flex;
    flex-flow: row;
    border-top: 1px solid var(--color-system-border-200);

}

.globalCardSecondRow div{
    margin-right: 10px;
    
}

@media(width <= 650px) {
	.globalCardSecondRow {
        flex-direction: column;
        gap: 0;
	}
}

/* *  */
/* TOTAL PASSENGERS BY DAY LAST WEEK */ 
.totalPassengersContactsValue{
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary); 
}

.totalPassengersContactsDescription{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-system-text-200);
}

/*  *  */
/* TOTAL CONTACTS LAST WEEK */ 
.totalContactsValue{
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary); 
}

.totalContactsDescription{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-system-text-200);
}

/*  *  */
/* TOTAL EMAIL CONTACTS LAST WEEK */ 
.totalEmailContactsValuesWrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.totalEmailContactsValue{
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary); 
}

.totalEmailContactsDescription{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-system-text-200); 
}

/*  *  */
/* TOTAL PHONE CONTACTS LAST WEEK */ 
.totalPhoneContactsValuesWrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;

    /* border-top: 1px solid var(--color-system-border-200); */
}

.totalPhoneContactsValue{
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary); 
}

.totalPhoneContactsDescription{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-system-text-200); 
}

/* ICON CONTAINER */
.iconContainer{
    align-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--color-system-background-300);
    border-radius: 20px;
}

/* ICON COLORS */
.icon{
    color: var(--color-system-text-300);
}

@media(width <= 650px) {
    .icon{
        width: 50px;
        height: 50px;
    }
}