/* * */
/* CONTAINER */

.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: var(--size-spacing-15);
}

@media screen and (width < 650px){
	.container{
		gap: var(--size-spacing-10);
	}
}