/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 20px;
}

/* * */
/* ANIMATION */

.animation {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

/* * */
/* TITLE & SUBTITLE */

.title {
	width: 100%;
	font-size: 22px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-200);
	text-align: center;
}

.subtitle {
	width: 100%;
	font-size: 18px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-200);
	text-align: center;
}