.backHome {
  margin: 3ch auto;
  background: white;
  width: fit-content;
  padding: 0.5ch 4ch;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid lightgrey;
  font-weight: bold;
  transition: filter 0.3s ease;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
}

.backHome:hover {
  /* background: rgb(175, 175, 175); */
  filter: brightness(0.9);
}
