/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* * */
/* TITLES */

.titles {
  grid-area: titles;
}

/* * */
/* GRID WRAPPER */

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
  align-items: flex-start;
  justify-content: stretch;
}

@media (max-width: 800px) {
  .gridWrapper {
    grid-template-columns: 1fr;
  }
}

/* * */
/* STOPS */

.stopsWrapper {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.stopsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

/* * */
/* ACTIONS WRAPPER */

.actionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
