/* * */
/* CARD */

.cardWrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--size-spacing-20);
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	padding: var(--size-spacing-20);
	background-color: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-lg);
}

a.cardWrapper:hover {
	background-color: var(--color-system-background-200);
	border-color: var(--color-system-border-200);
}

@media (width <= 500px) {
	.cardWrapper {
		grid-template-columns: 1fr;
	}
}

.cardImage {
	width: 125px;
	height: 125px;
	object-fit: contain;
}

.cardImageAlt {
	width: 125px;
	height: 75px;
	object-fit: contain;
}

.cardContents {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
	align-items: flex-start;
	justify-content: flex-start;
}

.cardTitle {
	font-size: 26px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
}

.cardDescription {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-200);
}