/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px;
  margin: auto;
  /* max-width: 400px; */
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  opacity: 0.8;
}

.operatorName {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
}

.operatorWebsite,
.operatorPhone {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #0074e1;
  text-decoration: underline;
}
