/* * */
/* HEADINGS */

.sectionTitle{
	font-weight: var(--font-weight-title);
    font-size:var(--font-size-title) ;
    color: var(--color-system-text-100);
}


.headerTitle {
	font-size: 14px;
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-300);
	margin-left: 20px;
}

.headerTitleDetails {
	font-size: 20px;
	font-weight: var(--font-weight-text);
	color:var(--color-text);
	margin-left: 20px;
}
.headerDescription{
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	color:  var(--color-system-text-300);
}
.headerNumberStatistics {
	font-size: 26px;
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
}

.headerNumberDetails {
	font-size: 28px;
	font-weight: var(--font-weight-bold);
	color: var(--color-text);
}

.header {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	padding: 10px;
}

.containerDetails .header{
	justify-content: space-between;
}
/* SECTION CARDS */

.cardSection {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto; 
	align-items: stretch;
}


@media(width <= 700px) {
	.cardSection {
	grid-template-columns: repeat(1, 1fr);
	}
}

/* * */
/*  CARDS CONTAINER */
.containerStatistics {
	display: grid;
	grid-template-rows: 50% 50%;
	position: relative;
    align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 18px;
	border: 1px solid #BEBEC8;
	padding: 10px;
}

.containerDetails {
	display: grid;
	grid-template-rows: 30% 20% 20% 30%;
	width: 100%;
	height: 100%;
	border-radius: 18px;
	border: 1px solid #BEBEC8;	
}

/* * */
/*  DIVIDERS */
.containerStatistics::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;   
	background-color: #BEBEC8;
	transform: translateY(-0.5px);
}

.containerDetails .header:nth-child(2),
.containerDetails .header:nth-child(3) {
  border-bottom: 1px solid #BEBEC8;

}