/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-5);
	align-items: flex-start;
	justify-content: flex-start;
	max-width: var(--size-max-width-text);
	font-size: 14px;
    font-weight: 500;
    color: var(--color-system-text-200);
}