/* CONTAINER */

.container {
	display: grid;
	grid-template:
		"a b" minmax(65vh, auto) / 1fr 1fr;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

@media (width < 1000px) {
	.container {
		grid-template:
			"a" 50vh [a_]
			"b" auto [b_] / 1fr;
	}
}

/* * */
/* MAP WRAPPER */

.sidebarWrapper {
	grid-area: b;
	height: 100%;
	border-left: 1px solid var(--color-system-border-100);
}

@media (width < 1000px) {
	.sidebarWrapper {
		position: static;
		border: none;
	}

}