/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: var(--size-spacing-30);
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-300);
	text-align: center;
}

/* * */
/* TITLE */

.title {
  font-size: 20px;
}

/* * */
/* SUBTITLE */

.subtitle {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
}

/* * */
/* ACTION WRAPPER */

.actionWrapper {
	display: flex;
	flex-flow: row wrap;
	gap: var(--size-spacing-20);
	align-items: center;
	justify-content: center;
	margin-top: var(--size-spacing-20);
}