/* * */
/* CONTAINER */

.container {
  width: 210mm;
  margin: auto;
}

/* * */
/* CONTAINER */

.header {
  background: #ffdd01;
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  text-align: left;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 25px;
  font-weight: 800;
  line-height: 1;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

/* * */
/* SCHOOL DETAILS */

.schoolDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f7f7f7;
  color: #000000;
  padding: 20px;
}

.schoolName {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.municipalityName {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

/* * */
/* MAP */

/* * */
/* STOPS & LINES */

.stopsWrapper {
  padding: 20px;
  columns: 2;
  column-gap: 20px;
  /* page-break-inside: auto; */
}

.stopsWrapper > div {
  padding-bottom: 25px;
  border-bottom: 1px dashed rgb(230, 230, 230);
  margin-bottom: 25px;
}

/* * */
/* * */

.footer {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.footer > img {
  float: right;
  height: 40px;
}

.bolhaCinza {
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  color: grey;
  margin-right: 5px;
  padding: 2.5px 5px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 8px;
}

.stops > div:first-child {
  display: none;
}

.stops > div:nth-child(2) div {
  padding-top: 0px !important;
}

.stops > div {
  padding-left: 0;
  padding-right: 0;
}

.stops div:nth-child(2) {
  padding-top: 0 !important;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: light;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Light.woff') format('woff');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-RegularOblique.woff') format('woff');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-DemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

.body {
  text-align: center;
  font-family: 'Greycliff CF', sans-serif;
}

.pageNumber::after {
  content: 'Página ' counter(page);
}

@media print {
  .pageNumber {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10pt;
  }
}
