/* * */
/* TEXT */

.text {
	margin-top: var(--size-spacing-20);
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	line-height: 1.6;
	color: var(--color-system-text-100);
}

.text:first-child {
	margin-top: unset;
}