.intro{
  text-align: right;
}

.header{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap:2rem
}

.header h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.header h2{
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.header p{
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.video{
  flex-shrink: 0;
  width: 350px;
  height: 622px;
  border: 5px solid #FFDD00;
}

.text{
  min-width: 300px;
  flex-grow: 1;
  flex-basis: 340px;
}

.text>div{
  font-weight: 600;
  font-size: 0.9rem;
  margin-top:0.5rem;
  margin-left: 1rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
}

.text>div>div{
  display:flex;
  align-items: center;
  gap:0.5rem
}
.text>div>div>div:first-child{
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 1000px;
  border: 3px solid #FFDD00;
}

.text>div>div>div>span{
  text-decoration: underline;
  text-decoration-color: #FFDD00;
  text-decoration-thickness: 3px;
  cursor:pointer;
  font-weight: 800;
}