/* MINI CARD CONTENT */

.miniCardcontentNumber {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 5px;
	padding: 10px;
	background-color: var(--color-system-background-300);
	border-radius: 18px;
	height: 120px;
	align-items: flex-start;
}

.miniCardContentNumberValue {
	font-size: 26px;
	font-weight: var(--font-weight-bold);
	line-height: 1;
	color: var(--color-text);
}

.miniCardContentNumberLegend {
	font-size: 18px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-text);
	opacity: 0.8;
}



.miniCardContainer {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	align-items: flex-end;
	filter: drop-shadow(-6px 0px 0px #0000000D);
}

.miniCardContainer > :nth-child(1) {
	background-color: #FFDD0033;
	height: 100px;
}

.miniCardContainer > :nth-child(2) {
	background-color: #FFDD0066;
	height: 150px;
}

.miniCardContainer > :nth-child(3) {
	background-color: #FFDD00;
	height: 200px;
}

.miniCardDescriptionWrapper{
    display: flex;
    flex-direction: column;
}


/* * */
/* Mini Card Section */
.leftSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 33%;
	justify-content: flex-end;
	
}

.rightSection {
	flex: 2;
	display: flex;		
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	height: 100%;
}

/* * */
/* MEDIA QUERYS */

@media (width <= 650px) {
	.miniCardContentNumberValue {
		font-size: 16px;
		font-weight: var(--font-weight-bold);
		line-height: 1;
		color: var(--color-text);
		word-break: break-all;
	}
	
	.miniCardContentNumberLegend {
		font-size: 16px;
		font-weight: var(--font-weight-text);
		color: var(--color-text);
		opacity: 0.8;
		word-break: break-all;
	}
}