/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--size-spacing-15);
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: var(--size-spacing-20);
	border-radius: var(--border-radius-lg);
}

@media (width <= 650px) {
	.container {
		border-radius: 0;
		box-shadow: none !important;
	}
}

/* * */
/* CONTAINER / SEVERITY */

.container[data-severity="ok"] {
	color: var(--color-status-ok-background);
	background-color: var(--color-status-ok-text);
	box-shadow: 0 0 5px var(--color-status-ok-shadow);
}

.container[data-severity="info"] {
	color: var(--color-status-info-background);
	background-color: var(--color-status-info-text);
	box-shadow: 0 0 5px var(--color-status-info-shadow);
}

.container[data-severity="warning"] {
	color: var(--color-status-warning-background);
	background-color: var(--color-status-warning-text);
	box-shadow: 0 0 5px var(--color-status-warning-shadow);
}

.container[data-severity="danger"] {
	color: var(--color-status-danger-background);
	background-color: var(--color-status-danger-text);
	box-shadow: 0 0 5px var(--color-status-danger-shadow);
}

/* * */
/* TITLE */

.title {
	font-size: 18px;
	font-weight: 600;
}