.SurveyTitle {
    font-weight: var(--font-weight-heading);
    font-size:var(--font-size-heading) ;
    color: var(--color-system-text-100);
}

.downloadButton{
    background: var(--color-brand);
    font-weight: var(--font-weight-semibold);
    font-size:var(--color-system-text-300) ;
}

.downloadButtonContainer{
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.anchorButtonsContainer{
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
   
}

.anchorButtonsContainer a{
    color: var(--color-system-text-300);
    font-weight: var(--font-weight-bold);
    font-size:var(--font-size-text) ;
}
