/* * */
/* NAME */

.name {
	display: -webkit-box;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	color: var(--color-system-text-100);
	-webkit-box-orient: vertical;
}

.name.md {
	font-size: 15px;
	font-weight: var(--font-weight-bold);
}

.name.lg {
	font-size: 20px;
	font-weight: var(--font-weight-bold);
}